*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color:white;
}
.bloquetitulo{
    font-size: 40px;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(26, 0, 54) ;
}

.parrafotitulo1{

letter-spacing: 1px;
font-family: cursive;
color: black;
margin-top: -30px;
font-size: 25px;
padding-bottom: 35px;
}
.iconosart{
    padding-top: 55px 12px;
}

.bloquetitulo2{
    width: 100%;
    display: inline-block;
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 35px;
    color:#343a40 ;
text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../imagenes/fondo-marmol.jpg);
    background-size: 50% 50%;
    background-attachment: fixed;
}
.parrafotitulo2{
    letter-spacing: 1px;
    font-family: cursive;
    color: black;
    
    margin-left: 85px;
    margin-top: 45px;
    text-align: center;
    font-size: 24px;
    float: left;
}
