.main_header{

width: 100%;
height: 110px;
z-index: 101;
background:#343a40;
font-size: 23px;
font-family: 'Segoe UI';
text-align: center;
margin-top: -8px;
}

.iconobitart{
    margin: auto;
    background:#343a40;
    padding-top: 15px;
    text-align: center;
}

.menu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
    }

.menu li{
    padding-left: 30px;
    padding-top: 15;
}

.menu li a:hover{
    color: rgb(26, 0, 54) ;
    text-decoration: overline;
}

.menu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: white;

}